{% extends "base.html.twig" %}

{% block title %}
     création d'un nouvel article
{% endblock %}

{% block body %}
 
   <h1 class="display-4 text-center my-5">
   {# Si la variable editMode renvoie TRUE, cela veut dire que l'id de l'article est définit, c'est une modification #}
   {% if editMode %}
         Modification de l'article n {{ editMode }}
   {% else %}{# Sinon, l'id n'est pas définit, c'est une insertion #}
      création d'un nouvel article
   {% endif %}

  </h1> 
{# 
    <form method="post" class="col-md-5 mx-auto">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="content">contenu de l'article</label>
            <textarea  class="form-control" id="content" name="content" rows="15"></textarea>
        </div>
         <div class="form-group">
            <label for="image">Photo de l'article</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        <button type="submit" class="btn mb-5 "style="background-color: #20c997;">Enregistrer l'article</button>
    </form> #}
   {# form(): fonction twig qui permet d'afficher le rendu #}

   {# form_end() : fonction Twig,on ferme la balise <form> #}

   {{ form_start(formArticle, {'attr': {'class':'col-md-5 mx-auto'} }) }}

      {{ form_row(formArticle.title,{
             'attr':{'placeholder':"saisir le titre de l'article" ,"maxlenght": false, "pattern":false},
             'label': "Titre de l'article"
             })    

        }}

      {{ form_row(formArticle.category,{'label': "Categories "  })    

      }}  

      {{ form_row(formArticle.content,{
             'attr':{'placeholder':"contenue de l'article",
             'rows': 15
             },
             'label': "Titre de l'article"
             })    

       }}

      {{ form_row(formArticle.image,{

             'attr':{'placeholder':"saisir l'URL de l'image"},
             'label': "URL de l'image"
             })
       }}

     <button type ="submit" class="btn btn-secondary">
        {% if editMode %}
          
           Enregistrer les modification
        {% else %}
           Enregistrer l'article 
        {% endif %}

     
     
     
     </button> 

    {{ form_end(formArticle) }}
 {# form_end() : fonction Twig,on ferme la balise <form> #}

{% endblock %}