<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
        {% block title %}
           Blog musical!
        {% endblock %}</title>
      
        {% block stylesheets %}
        {# fontawesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        {# bootstrap #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        
        {% endblock %}

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light "style="background-color: #20c997;">
                <a class="navbar-brand" href="{{ path('home') }}">Mon blog Musical</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    {# la focntion path()Twig permet de définir la route et le chemin du line <a>,il faut lui fournir le nom de la route @Route('',name='home')) #}
                        <a class="nav-link" href="{{ path('home') }}" >Home </a>
                    </li>
                    {# si app.user retourne TRUE,cela veut dire que l'internaut est bien connecté  #}
                    {% if app.user %}

                        <li class="nav-item">
                            <a class="nav-link" href="">Mon compte </a>
                        </li>
                    {% else %}
                         <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_registration') }}">Creer votre compte </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_login') }}">Identifiez-vous </a>
                        </li>

                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog') }}">affichage des articles</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog_create') }}">Nouvel article</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    {# Si l'utilisateur en BDD a un rôle garanti ROLE_ADMIN, on lui propose un lien pour accéder au BACKOFFICE #}
                        {# is_granted() : fonction Twig #}

                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                       <a class="nav-link" href="{{ path('admin') }}">Backoffice</a>
                    </li>

                    {% endif %}
                    {# Si app.user retourne TRUE, cela veut dire que l'internaute est bien connecté, on lui propose un lien de deconnexion #}
                     {% if app.user %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_logout') }}"><i class="fas fa-power-off"></i>Deconnexion</a>
                        </li>

                    {% endif %}
            
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">rechercher</button>
                    </form>
                </div>
            </nav>
        </header>
        <main class="container-fluid conteneur-base">
        {% block body %}
        {% endblock %}
        </main>
        <footer class="text-center py-4" style="background-color: #20c997;">
        &copy; 2021 - touche pas mon blog
        </footer>
        {% block javascripts %}

         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
          
        {% endblock %}
    </body>
</html>
